<div class="row">
    <div class="col-sm-3">
        <b class="text-uppercase">col-sm-3</b>
    </div>
    <div class="col-sm-7">
        <b class="text-uppercase">col-sm-7</b>
        <p>
            There could also be some news about changes or similar stuff here when needed.
        </p>
        <p>
            Some general information, perhaps a little in depth about the site and it's features.
        </p>
    </div>
    <div class="col-sm-2">
        <b class="text-uppercase">Col-sm-2</b>
    </div>
</div>
