<!-- 
    Should I add some explaining text as to how the map/search work in the modals?
    Goal: 
    - Navigation and purpose of each page is easy/intuitive.
    - More complex features are explained in simple terms at the time you need the information.
    - Not: "How does this work? Oh I have to go to some other page to find a guide/expanation"
    - But: "How does this work? Ah there it is, ok, search, nice!"
     -->
<div>
    <div class="modal-header">
        <h3 class="modal-title">Map</h3>
    </div>
    <div class="modal-body">
        <div id="map"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>